<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="resultMap" type="User">
        <id property="userId" column="userId"></id>
        <result property="userName" column="userName"></result>
        <result property="password" column="password"></result>
        <result property="userEmail" column="userEmail"></result>
        <result property="userSex" column="userSex"></result>
        <result property="userGrade" column="userGrade"></result>
        <result property="userStatus" column="userStatus"></result>
        <result property="userEndTime" column="userEndTime"></result>
        <result property="headpath" column="headpath"></result>
        <result property="userType" column="userType"></result>
        <result property="phoneNumber" column="phoneNumber"></result>
        <result property="userBirthday" column="userBirthday"></result>
        <result property="userHobby" column="userHobby"></result>
        <result property="realName" column="realName"></result>
        <result property="userAdress" column="userAdress"></result>

        <!--<association property="power" javaType="Power">
            <id property="id" column="pid"></id>
            <result property="powername" column="powername"></result>
        </association>-->
    </resultMap>

    <sql id="sql">
        select * from user
    </sql>
<!--登录-->
    <select id="Login" parameterType="user" resultType="User">
      <include refid="sql"/> where userName=#{userName} and password=#{password}
    </select>
<!--添加用户-->
    <insert id="addUser" parameterType="user">
        insert into user(userName,password,userEmail,userSex,userGrade,userStatus,userDesc) values
        (#{userName},#{password},#{userEmail},#{userSex},#{userGrade},#{userStatus},#{userDesc})
    </insert>

    <!--<update id="updatehead" parameterType="User">-->
    <!--update user set headpath=#{headpath} where user_id=#{user_id}-->
    <!--</update>-->
<!--修改用户-->
    <update id="updatetable" parameterType="user">
    update user
    <trim prefix="set" suffixOverrides=",">
        <if test="userName!=null and userName != ''">userName=#{userName},</if>
        <if test="password!=null and password != ''">password=#{password},</if>
        <if test="userHobby!=null and userHobby != ''">userHobby=#{userHobby},</if>
        <if test="userEmail!=null and userEmail != ''">userEmail=#{userEmail},</if>
        <if test="userSex!=null and userSex != ''"> userSex=#{userSex},</if>
        <if test="userHobby!=null and userHobby != ''">userHobby=#{userHobby},</if>
        <if test="userBirthday!=null and userBirthday != ''">userBirthday=#{userBirthday},</if>
        <if test="userAdress!=null and userAdress != ''">userAdress=#{userAdress},</if>
        <if test="userStatus!=null and userStatus != ''">userStatus=#{userStatus},</if>
        <if test="userDesc!=null and userDesc != ''">userDesc=#{userDesc}</if>
    </trim>
    where userId=#{userId}
    </update>
<!--单个删除-->
    <delete id="deleteUserByid" parameterType="java.lang.Integer">
    delete from user where userId=#{userId}
    </delete>

<!--批量删除-->
    <select id="deleteAll" parameterType="user" resultType="User">
       select * from 'user'
    <where>
        userId in
    <foreach collection="user_ids" item="userId" separator="，" open="(" close=")">
        #{userId}
    </foreach>
    </where>
    </select>
    <!--<select id="tableuser"  resultType="User">-->
    <!--<include refid="sql"/>-->
    <!--</select>-->
    <!--用戶刪除-->
    <select id="usercount" resultType="java.lang.Integer">
        select count(*) from user
    </select>
<!--用戶查詢-->
    <select id="selectpage" parameterType="user" resultType="User">
      select userId,userName,userEmail,userSex,userGrade,userStatus,userEndTime from user
        <where>
        1=1
        and userGrade in('1','2')
        <if test="userName != null and userName != ''">
        and userName like #{userName}
        </if>
        <!--<if test="loginName != null and loginName != ''">-->
        <!--and loginName like '%${loginName}%'-->
        <!--</if>-->
        </where>
        limit #{pagestart},#{limit}
    </select>

</mapper>
